*.vtk
build/
compile_commands.json
.cquery_cached_index/
src/angem/.cquery_cached_index/
.ccls-cache/
*.cmake
*.make
.vscode
CMakeFiles/
Makefile
.clangd/
__pycache__/
bcond.txt
domain.txt
fl_cell_data.txt
fl_face_data.txt
fname_trans_data.txt 
gm_DFM.txt 
gm_SDA.txt
gm_geometry.txt
gm_depth.txt
gm_fractures.txt
output/
postprocessor_config.yaml
